In [2]:
import numpy as np
import pandas as pd
import h5py
import scipy.sparse as sps
from datetime import timedelta
pd.set_option('display.float_format', lambda x: '%.2f' % x)
pd.set_option('display.max_columns', None)

In [3]:
filename = '../data/all_hourly_data.h5'

In [4]:
with h5py.File(filename, "r") as f:
    print("Keys: %s" % f.keys())

Keys: <KeysViewHDF5 ['codes', 'interventions', 'patients', 'vitals_labs', 'vitals_labs_mean']>

In [5]:
patients = pd.read_hdf(filename, key="patients")

one_hot = pd.get_dummies(patients[["gender", "admission_type", "first_careunit"]])
patients = patients.join(one_hot)
#display(patients.columns)

# include only patients with 6h < los < 600h or same for los_icu, but los_icu is in days
LOS_LOWER_THRESH = 6 #exclude if LOS is shorter than this many hours
LOS_UPPER_THRESH = 600 #exclude if LOS is longer than this many hours
patients["los"] = (patients["dischtime"] - patients["admittime"])
patients = patients[((patients["los"] > timedelta(hours=LOS_LOWER_THRESH))  & (patients["los"] < timedelta(hours=LOS_UPPER_THRESH))) | 
                    ((patients["los_icu"] * 24 > LOS_LOWER_THRESH)            & (patients["los_icu"] * 24 < LOS_UPPER_THRESH))]

MIN_AGE_THRESH = 18
patients = patients[patients["age"] > MIN_AGE_THRESH]

# ignore following dummies, common practice to exclude 1 dummy per category
# gender_M
# admission_type_ELECTIVE
# first_careunit_CCU

patients = patients[["age", "gender_F", "admission_type_EMERGENCY", "admission_type_URGENT", "first_careunit_CSRU", "first_careunit_MICU", "first_careunit_SICU", "first_careunit_TSICU"]]
print(patients.shape)
display(patients.head())

(37543, 8)

,,,age,gender_F,admission_type_EMERGENCY,admission_type_URGENT,first_careunit_CSRU,first_careunit_MICU,first_careunit_SICU,first_careunit_TSICU
subject_id,hadm_id,icustay_id,,,,,,,,
3,145834,211552,76.53,0,1,0,0,1,0,0
4,185777,294638,47.85,1,1,0,0,1,0,0
6,107064,228232,65.94,1,0,0,0,0,1,0
9,150750,220597,41.79,0,1,0,0,1,0,0
11,194540,229441,50.15,1,1,0,0,0,1,0

In [6]:
interventions = pd.read_hdf(filename, key="interventions")
interventions["vasopressor"] = interventions[['vaso', 'vasopressin']].any(axis='columns').astype(int)
interventions = interventions[["vasopressor"]]
print(interventions.shape)
display(interventions.head())

(3183638, 1)

                                        vasopressor
subject_id hadm_id icustay_id hours_in
3          145834  211552     0                   0
                              1                   1
                              2                   1
                              3                   1
                              4                   1

In [7]:
# exclude patients that get vasopressor in the first 6h e.g. 0-5
excluded_subject_ids = interventions[interventions.index.get_level_values("hours_in").isin(range(6)) & interventions["vasopressor"] == 1]
excluded_subject_ids = excluded_subject_ids.index.get_level_values("subject_id").unique()
excluded_subject_ids.shape

(8406,)

In [8]:
outcome = pd.DataFrame(interventions.groupby(["subject_id", "hadm_id", "icustay_id"])["vasopressor"].agg("max"))
print(outcome.shape)
display(outcome.head())

(37543, 1)

                               vasopressor
subject_id hadm_id icustay_id
3          145834  211552                1
4          185777  294638                0
6          107064  228232                0
9          150750  220597                1
11         194540  229441                0

In [9]:
vitals_labs_mean = pd.read_hdf(filename, key="vitals_labs_mean")

# Paper name -> df name
# map (mean arterial pressure) -> pulmonary artery pressure mean
# spontaneousrr (spontaneous respiratory rate) -> respiratory rate
# urine (urine output) -> not found! :/
# alt (alanine transaminase) -> alanine aminotransferase
# ast (aspartate aminotransferase) -> asparate aminotransferase
# inr (international normalised ratio) -> prothrombin time inr
mask = vitals_labs_mean.columns.get_level_values("LEVEL2").isin(["diastolic blood pressure", "fraction inspired oxygen", "glascow coma scale total", "heart rate", 
                                                                 "pulmonary artery pressure mean", "systolic blood pressure", "respiratory rate", "oxygen saturation",
                                                                 "temperature", "urine output", "blood urea nitrogen", "magnesium", "platelets", "sodium", "alanine aminotransferase",
                                                                 "hematocrit", "partial pressure of oxygen", "asparate aminotransferase", "potassium", "white blood cell count",
                                                                 "bicarbonate", "creatinine", "lactate", "partial pressure of carbon dioxide", "glucose", "prothrombin time inr",
                                                                 "hemoglobin", "bilirubin"])

#display(vitals_labs_mean.columns[vitals_labs_mean.columns.get_level_values("LEVEL2").str.contains("rate")])
vitals_labs_mean = vitals_labs_mean.iloc[:, mask]
print(vitals_labs_mean.shape)
display(vitals_labs_mean.head())

(3183638, 27)

LEVEL2                                 alanine aminotransferase  \
Aggregation Function                                       mean
subject_id hadm_id icustay_id hours_in
3          145834  211552     0                           25.00
                              1                             NaN
                              2                             NaN
                              3                             NaN
                              4                             NaN

LEVEL2                                 asparate aminotransferase bicarbonate  \
Aggregation Function                                        mean        mean
subject_id hadm_id icustay_id hours_in
3          145834  211552     0                            69.00       16.33
                              1                              NaN         NaN
                              2                              NaN         NaN
                              3                              NaN         NaN
                              4                              NaN         NaN

LEVEL2                                 bilirubin blood urea nitrogen  \
Aggregation Function                        mean                mean
subject_id hadm_id icustay_id hours_in
3          145834  211552     0             0.80               44.20
                              1              NaN                 NaN
                              2              NaN                 NaN
                              3              NaN                 NaN
                              4              NaN                 NaN

LEVEL2                                 creatinine diastolic blood pressure  \
Aggregation Function                         mean                     mean
subject_id hadm_id icustay_id hours_in
3          145834  211552     0              2.60                    39.67
                              1               NaN                    44.12
                              2               NaN                    47.33
                              3               NaN                    64.50
                              4               NaN                    63.00

LEVEL2                                 fraction inspired oxygen  \
Aggregation Function                                       mean
subject_id hadm_id icustay_id hours_in
3          145834  211552     0                             NaN
                              1                             NaN
                              2                             NaN
                              3                             NaN
                              4                             NaN

LEVEL2                                 glascow coma scale total glucose  \
Aggregation Function                                       mean    mean
subject_id hadm_id icustay_id hours_in
3          145834  211552     0                             NaN  198.56
                              1                             NaN     NaN
                              2                             NaN  267.00
                              3                             NaN     NaN
                              4                             NaN     NaN

LEVEL2                                 heart rate hematocrit hemoglobin  \
Aggregation Function                         mean       mean       mean
subject_id hadm_id icustay_id hours_in
3          145834  211552     0            143.00      27.03       8.72
                              1            153.75        NaN        NaN
                              2            137.75      30.00      10.10
                              3            129.25        NaN        NaN
                              4            146.00        NaN        NaN

LEVEL2                                 lactate magnesium oxygen saturation  \
Aggregation Function                      mean      mean              mean
subject_id hadm_id icustay_id hours_in
3          145834  211552     0           7.03      2.92             74.00
                              1            NaN       NaN               NaN
                              2           5.00       NaN             98.50
                              3            NaN       NaN             99.75
                              4            NaN       NaN             98.00

LEVEL2                                 partial pressure of carbon dioxide  \
Aggregation Function                                                 mean
subject_id hadm_id icustay_id hours_in
3          145834  211552     0                                     32.00
                              1                                       NaN
                              2                                     33.00
                              3                                       NaN
                              4                                       NaN

LEVEL2                                 partial pressure of oxygen platelets  \
Aggregation Function                                         mean      mean
subject_id hadm_id icustay_id hours_in
3          145834  211552     0                            224.67    233.60
                              1                               NaN       NaN
                              2                            287.00       NaN
                              3                               NaN       NaN
                              4                               NaN       NaN

LEVEL2                                 potassium prothrombin time inr  \
Aggregation Function                        mean                 mean
subject_id hadm_id icustay_id hours_in
3          145834  211552     0             4.16                 1.62
                              1              NaN                  NaN
                              2             3.90                  NaN
                              3              NaN                  NaN
                              4              NaN                  NaN

LEVEL2                                 pulmonary artery pressure mean  \
Aggregation Function                                             mean
subject_id hadm_id icustay_id hours_in
3          145834  211552     0                                   NaN
                              1                                   NaN
                              2                                   NaN
                              3                                 14.00
                              4                                 30.00

LEVEL2                                 respiratory rate sodium  \
Aggregation Function                               mean   mean
subject_id hadm_id icustay_id hours_in
3          145834  211552     0                   16.00 142.67
                              1                   15.50    NaN
                              2                    7.00 139.00
                              3                    5.25    NaN
                              4                   13.67    NaN

LEVEL2                                 systolic blood pressure temperature  \
Aggregation Function                                      mean        mean
subject_id hadm_id icustay_id hours_in
3          145834  211552     0                          95.17         NaN
                              1                          81.00         NaN
                              2                          90.67         NaN
                              3                         117.00         NaN
                              4                         102.00         NaN

LEVEL2                                 white blood cell count
Aggregation Function                                     mean
subject_id hadm_id icustay_id hours_in
3          145834  211552     0                         14.84
                              1                           NaN
                              2                           NaN
                              3                           NaN
                              4                           NaN

In [51]:
# expect (N x V x T)
subject_ids = vitals_labs_mean.index.get_level_values("subject_id").unique()

N = subject_ids.size
V = vitals_labs_mean.shape[1]
T = 6

#TODO use only first 6 hours -> can be replaced by last 6h or random sampling, method not indicated in paper
data = vitals_labs_mean[vitals_labs_mean.index.get_level_values("hours_in").isin(range(6))]

# fill 3d array
result = np.zeros((N, V, T))
for index, row in data.iterrows():
    # display(index)
    # display(row.shape)
    subject_id = index[0]
    hours_in = index[3]
    N_index = subject_ids.get_loc(subject_id)    # map id to index
    
    result[N_index, :, hours_in] = row

print(result.shape)
display(result[0,:,0].squeeze())

(37543, 27, 6)

array([ 25.        ,  69.        ,  16.33333333,   0.8       ,
        44.2       ,   2.6       ,  39.66666667,          nan,
                nan, 198.55555556, 143.        ,  27.03333333,
         8.71666667,   7.03333333,   2.92      ,  74.        ,
        32.        , 224.66666667, 233.6       ,   4.16363636,
         1.62      ,          nan,  16.        , 142.66666667,
        95.16666667,          nan,  14.84285714])

In [ ]:
indicators = pd.DataFrame(~vitals_labs_mean.isna())
print(indicators.shape)
display(indicators.head())

(3183638, 27)

LEVEL2                                 alanine aminotransferase  \
Aggregation Function                                       mean
subject_id hadm_id icustay_id hours_in
3          145834  211552     0                            True
                              1                           False
                              2                           False
                              3                           False
                              4                           False

LEVEL2                                 asparate aminotransferase bicarbonate  \
Aggregation Function                                        mean        mean
subject_id hadm_id icustay_id hours_in
3          145834  211552     0                             True        True
                              1                            False       False
                              2                            False       False
                              3                            False       False
                              4                            False       False

LEVEL2                                 bilirubin blood urea nitrogen  \
Aggregation Function                        mean                mean
subject_id hadm_id icustay_id hours_in
3          145834  211552     0             True                True
                              1            False               False
                              2            False               False
                              3            False               False
                              4            False               False

LEVEL2                                 creatinine diastolic blood pressure  \
Aggregation Function                         mean                     mean
subject_id hadm_id icustay_id hours_in
3          145834  211552     0              True                     True
                              1             False                     True
                              2             False                     True
                              3             False                     True
                              4             False                     True

LEVEL2                                 fraction inspired oxygen  \
Aggregation Function                                       mean
subject_id hadm_id icustay_id hours_in
3          145834  211552     0                           False
                              1                           False
                              2                           False
                              3                           False
                              4                           False

LEVEL2                                 glascow coma scale total glucose  \
Aggregation Function                                       mean    mean
subject_id hadm_id icustay_id hours_in
3          145834  211552     0                           False    True
                              1                           False   False
                              2                           False    True
                              3                           False   False
                              4                           False   False

LEVEL2                                 heart rate hematocrit hemoglobin  \
Aggregation Function                         mean       mean       mean
subject_id hadm_id icustay_id hours_in
3          145834  211552     0              True       True       True
                              1              True      False      False
                              2              True       True       True
                              3              True      False      False
                              4              True      False      False

LEVEL2                                 lactate magnesium oxygen saturation  \
Aggregation Function                      mean      mean              mean
subject_id hadm_id icustay_id hours_in
3          145834  211552     0           True      True              True
                              1          False     False             False
                              2           True     False              True
                              3          False     False              True
                              4          False     False              True

LEVEL2                                 partial pressure of carbon dioxide  \
Aggregation Function                                                 mean
subject_id hadm_id icustay_id hours_in
3          145834  211552     0                                      True
                              1                                     False
                              2                                      True
                              3                                     False
                              4                                     False

LEVEL2                                 partial pressure of oxygen platelets  \
Aggregation Function                                         mean      mean
subject_id hadm_id icustay_id hours_in
3          145834  211552     0                              True      True
                              1                             False     False
                              2                              True     False
                              3                             False     False
                              4                             False     False

LEVEL2                                 potassium prothrombin time inr  \
Aggregation Function                        mean                 mean
subject_id hadm_id icustay_id hours_in
3          145834  211552     0             True                 True
                              1            False                False
                              2             True                False
                              3            False                False
                              4            False                False

LEVEL2                                 pulmonary artery pressure mean  \
Aggregation Function                                             mean
subject_id hadm_id icustay_id hours_in
3          145834  211552     0                                 False
                              1                                 False
                              2                                 False
                              3                                  True
                              4                                  True

LEVEL2                                 respiratory rate sodium  \
Aggregation Function                               mean   mean
subject_id hadm_id icustay_id hours_in
3          145834  211552     0                    True   True
                              1                    True  False
                              2                    True   True
                              3                    True  False
                              4                    True  False

LEVEL2                                 systolic blood pressure temperature  \
Aggregation Function                                      mean        mean
subject_id hadm_id icustay_id hours_in
3          145834  211552     0                           True       False
                              1                           True       False
                              2                           True       False
                              3                           True       False
                              4                           True       False

LEVEL2                                 white blood cell count
Aggregation Function                                     mean
subject_id hadm_id icustay_id hours_in
3          145834  211552     0                          True
                              1                         False
                              2                         False
                              3                         False
                              4                         False

In [ ]:
vitals_labs_mean.fillna(0, inplace=True)
print(vitals_labs_mean.shape)
display(vitals_labs_mean.head())

(3183638, 27)

LEVEL2                                 alanine aminotransferase  \
Aggregation Function                                       mean
subject_id hadm_id icustay_id hours_in
3          145834  211552     0                           25.00
                              1                            0.00
                              2                            0.00
                              3                            0.00
                              4                            0.00

LEVEL2                                 asparate aminotransferase bicarbonate  \
Aggregation Function                                        mean        mean
subject_id hadm_id icustay_id hours_in
3          145834  211552     0                            69.00       16.33
                              1                             0.00        0.00
                              2                             0.00        0.00
                              3                             0.00        0.00
                              4                             0.00        0.00

LEVEL2                                 bilirubin blood urea nitrogen  \
Aggregation Function                        mean                mean
subject_id hadm_id icustay_id hours_in
3          145834  211552     0             0.80               44.20
                              1             0.00                0.00
                              2             0.00                0.00
                              3             0.00                0.00
                              4             0.00                0.00

LEVEL2                                 creatinine diastolic blood pressure  \
Aggregation Function                         mean                     mean
subject_id hadm_id icustay_id hours_in
3          145834  211552     0              2.60                    39.67
                              1              0.00                    44.12
                              2              0.00                    47.33
                              3              0.00                    64.50
                              4              0.00                    63.00

LEVEL2                                 fraction inspired oxygen  \
Aggregation Function                                       mean
subject_id hadm_id icustay_id hours_in
3          145834  211552     0                            0.00
                              1                            0.00
                              2                            0.00
                              3                            0.00
                              4                            0.00

LEVEL2                                 glascow coma scale total glucose  \
Aggregation Function                                       mean    mean
subject_id hadm_id icustay_id hours_in
3          145834  211552     0                            0.00  198.56
                              1                            0.00    0.00
                              2                            0.00  267.00
                              3                            0.00    0.00
                              4                            0.00    0.00

LEVEL2                                 heart rate hematocrit hemoglobin  \
Aggregation Function                         mean       mean       mean
subject_id hadm_id icustay_id hours_in
3          145834  211552     0            143.00      27.03       8.72
                              1            153.75       0.00       0.00
                              2            137.75      30.00      10.10
                              3            129.25       0.00       0.00
                              4            146.00       0.00       0.00

LEVEL2                                 lactate magnesium oxygen saturation  \
Aggregation Function                      mean      mean              mean
subject_id hadm_id icustay_id hours_in
3          145834  211552     0           7.03      2.92             74.00
                              1           0.00      0.00              0.00
                              2           5.00      0.00             98.50
                              3           0.00      0.00             99.75
                              4           0.00      0.00             98.00

LEVEL2                                 partial pressure of carbon dioxide  \
Aggregation Function                                                 mean
subject_id hadm_id icustay_id hours_in
3          145834  211552     0                                     32.00
                              1                                      0.00
                              2                                     33.00
                              3                                      0.00
                              4                                      0.00

LEVEL2                                 partial pressure of oxygen platelets  \
Aggregation Function                                         mean      mean
subject_id hadm_id icustay_id hours_in
3          145834  211552     0                            224.67    233.60
                              1                              0.00      0.00
                              2                            287.00      0.00
                              3                              0.00      0.00
                              4                              0.00      0.00

LEVEL2                                 potassium prothrombin time inr  \
Aggregation Function                        mean                 mean
subject_id hadm_id icustay_id hours_in
3          145834  211552     0             4.16                 1.62
                              1             0.00                 0.00
                              2             3.90                 0.00
                              3             0.00                 0.00
                              4             0.00                 0.00

LEVEL2                                 pulmonary artery pressure mean  \
Aggregation Function                                             mean
subject_id hadm_id icustay_id hours_in
3          145834  211552     0                                  0.00
                              1                                  0.00
                              2                                  0.00
                              3                                 14.00
                              4                                 30.00

LEVEL2                                 respiratory rate sodium  \
Aggregation Function                               mean   mean
subject_id hadm_id icustay_id hours_in
3          145834  211552     0                   16.00 142.67
                              1                   15.50   0.00
                              2                    7.00 139.00
                              3                    5.25   0.00
                              4                   13.67   0.00

LEVEL2                                 systolic blood pressure temperature  \
Aggregation Function                                      mean        mean
subject_id hadm_id icustay_id hours_in
3          145834  211552     0                          95.17        0.00
                              1                          81.00        0.00
                              2                          90.67        0.00
                              3                         117.00        0.00
                              4                         102.00        0.00

LEVEL2                                 white blood cell count
Aggregation Function                                     mean
subject_id hadm_id icustay_id hours_in
3          145834  211552     0                         14.84
                              1                          0.00
                              2                          0.00
                              3                          0.00
                              4                          0.00

In [ ]:
print(f"Exclude {excluded_subject_ids.size} patients...")

patients = patients[~patients.index.get_level_values("subject_id").isin(excluded_subject_ids)]
print(patients.shape)

outcome = outcome[~outcome.index.get_level_values("subject_id").isin(excluded_subject_ids)]
print(outcome.shape)

vitals_labs_mean = vitals_labs_mean[~vitals_labs_mean.index.get_level_values("subject_id").isin(excluded_subject_ids)]
print(vitals_labs_mean.shape)

indicators = indicators[~indicators.index.get_level_values("subject_id").isin(excluded_subject_ids)]
print(indicators.shape)

Exclude 8406 patients...
(29137, 8)
(29137, 1)
(2368063, 27)
(2368063, 27)