In [2]:
import pandas as pd
import numpy as np

In [12]:
X_train = pd.read_csv("../aeon/spokenarabicdigit/Train_Arabic_Digit.txt", header=None, delim_whitespace=True, skip_blank_lines=False, skiprows=1, low_memory=False)
X_test = pd.read_csv("../aeon/spokenarabicdigit/Test_Arabic_Digit.txt", header=None, delim_whitespace=True, skip_blank_lines=False, skiprows=1)

In [13]:
print(X_train.shape)
print(X_test.shape)
display(X_train.head(5))

(269855, 13)
(89262, 13)

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,-0.81101,-7.2382,1.5429,-0.64774,1.42710,0.61356,0.365160,0.088906,0.47031,0.98844,0.044692,0.20817,0.51140
1,-0.37028,-7.1336,1.8856,-0.34316,0.96733,0.32763,0.429880,0.504790,0.41533,0.28804,0.086109,0.62690,0.78115
2,0.59659,-8.3059,1.6943,-0.66611,0.34967,-0.17425,0.820770,1.261100,0.41653,0.50050,0.571630,0.45316,0.64465
3,1.45850,-8.1957,1.8454,-1.14960,0.82660,-0.51313,0.067443,0.256370,0.11500,-0.10915,0.085991,0.69064,0.33769
4,2.08240,-8.6670,1.1995,-1.12400,1.24450,-0.10251,0.998670,0.571740,1.03840,0.17564,-0.032857,0.53229,0.32941

In [14]:
X_train_list = np.split(X_train, X_train[X_train.isnull().all(1)].index)
X_test_list = np.split(X_test, X_test[X_test.isnull().all(1)].index)

In [16]:
print(len(X_train_list))
print(len(X_train_list) / 660)
print(len(X_test_list))
print(len(X_test_list) / 220)
for i, df in enumerate(X_test_list):
    print(df.shape)
    if i > 10:
        break

6600
10.0
2200
10.0
(28, 13)
(29, 13)
(35, 13)
(34, 13)
(34, 13)
(33, 13)
(35, 13)
(32, 13)
(35, 13)
(36, 13)
(30, 13)
(30, 13)

In [ ]:
def generate_target():